.b-sidebar {
  padding-top: 70px;
  width: auto;
}

.b-sidebar-outer {
  z-index: 900;
}

.b-sidebar .btn {
  margin-left: auto;
  margin-right: auto;
}

.b-sidebar {
  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: white;
    }
    &:focus {
      color: white;
    }
  }
  .disabled {
    color: rgb(119, 119, 119);
    pointer-events: none;
    cursor: not-allowed;
  }
}
